.btn:hover {
  background-color:blue;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  color:white;
}
  .dropdown:hover .dropdown-menu {
    display:block;
  }
  
  .dropdown-item,.link{
    text-decoration:none;
    color:rgb(20,20,220);
  }

   .nav-item,.dropdown, .dropdown-item {
  position: relative;
}

.nav-item::after,.dropdown::after, .dropdown-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: darkblue;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover::after, .dropdown:hover::after,.dropdown-item:hover::after {
  transform: scaleX(1);
}
