@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

*{
  font-family:'Nunito Sans', sans-serif;
  margin:0px; padding:0px;
  box-sizing:border-box;
  transition:all .3s linear;
  text-decoration:none;
  outline:none;
  border:none;
}

html {
  scroll-padding-top:10px;
  scroll-behavior:smooth;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(45,45,45,0.3);
  border-radius: 5px;
}

#navbar-toggler-icon {
  color:darkblue;
  font-size:2.2 rem;
}

.navbar {
  background:#eaebea;
  border-bottom:1px solid #ccc;
}

.btn:hover {
  background-color:blue;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  color:white;
}

.subscribe-btn {
  background:rgba(0,0,255,0.8);
  color:white;
}

.subscribe-btn:hover {
  background:#f6f6fd;
  color:#0919f6;
}

#fa-xmark-search {
  color:#ffffff;
  font-size:2em;
}

#fa-xmark-search:hover {
  color:#f20707;
}

#fa-xmark-login {
  color:#0617f9;
}

#fa-xmark-login:hover {
  color:#f20707;
}
.dropdown:hover .dropdown-menu {
  display:block;
}

.dropdown-item,.link{
  text-decoration:none;
  color:rgb(20,20,220);
}

.nav-item,.dropdown, .dropdown-item {
  position: relative;
}

.nav-item::after,.dropdown::after, .dropdown-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: darkblue;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover::after, .dropdown:hover::after,.dropdown-item:hover::after {
  transform: scaleX(1);
}
.footer-item:hover {
  transform: translateX(5px);
  transition: .3s linear;
}

/*---Styling for SEARCH POPUP STARTS here --->*/
#popup-overlay {
  position:fixed;
  top:-110%;
  left:80%;
  height:100%;
  width:100%;
  display:flex;
  background-color: rgba(0,0,0,.9);
  align-items:center;
  justify-content: center;
  z-index: 9999;
  transition:.3s linear;
}

#popup-overlay.active {
  top:0;
  left:0;
}

#popup-overlay .form-items {
  display:flex;
  align-items:center;
  justify-content:center;
  max-width:800px;
  width:90%;
  height:50px;
  background:#fff;
  border-radius:10px;
  
}

#popup-overlay .form-items input{
  outline:none;
  border:none;
  background:none;
  width:100%;
  height:100%;
  padding:0 20px;
}
#popup-overlay .form-items label {
  font-size:22px;
  color:black;
  padding-right:20px;
}
#popup-overlay .form-items label:hover {
  color:darkorange;
}

#popup-overlay #fa-xmark-search {
  position:absolute;
  right:25px;
  top:40px;
}
#user-btn {
  color:black;
  background:darkorange;
}
/*---Styling for search popup ENDS here --->*/

/*---Styling for Merged LOGIN starts here --->*/
.popup-container {
  display:none;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  align-content:center;
  justify-content:center; 
  z-index:9999;
  position:fixed;
}
.popup-content {
  max-width:550px;
  width:90%;
  margin-top:40px;
  margin-bottom:30px;
  padding:30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color:rgba(255,255,255);
}
.popup-content form label {
  display:block;
  padding-bottom:3px;
}

.popup-content form input {
  padding:12px;
  margin-bottom:20px;
  background-color:rgba(240,245,255,0.8);
  border-radius:10px;
  width:100%;
}
.popup-content #user-btn {
  background-color:blue;
  color:white;
}
.popup-content .employerbtn {
  background-color:green;
  color:white;
  outline:none;
  border:none;
}
.popup-content .employerbtn:hover {
  background-color: #009001;
  box-shadow:0 0 5px  rgba(0,0,0,0.6);
}

.popup-content  #employerbtn:hover {
  background-color: #009001;
  box-shadow:0 0 5px  rgba(0,0,0,0.6);
}

.popup-container .password-container {
  position: relative;
}

.popup-container .user-password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: darkblue;
}

.popup-container .recruiter-password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #008000;
}