<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <a href="/resume-builder" style="text-decoration:none;">
    <div class="card h-100">
      <img src="/static/Resumepic.jpg" class="image-top" alt="HTML Dog" >
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-link me-2"></i>Resume Builder </h5>
        <p class="card-text">We are thrilled to introduce our new Resume/CV Builder services...</p>
      </div>
    </div>
      </a>
  </div>
  
  <div class="col">
    <a href="/industry_services" style="text-decoration: none;">
    <div class="card h-100">
      <img src="/static/Pic4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-link me-2"></i>Industry Services </h5>
        <p class="card-text">Get in touch with us for the latest industrial and technological developments.</p>
      </div>
    </div>
      </a>
  </div>
   
  <div class="col">
    <a href="/prof_guidance" style="text-decoration: none;">
    <div class="card h-100">
      <img src="/static/Pic5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-link me-2"></i>Professional Guidance </h5>
        <p class="card-text">At Colltech, we connect you with professionals from various fields to ensure you are properly guided...</p>
      </div>
    </div>
    </a>
  </div>
   
  <div class="col">
    <a href="/int_programs" style="text-decoration: none;">
    <div class="card h-100">
      <img src="/static/intpic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-link me-2"></i>International Programmes </h5>
        <p class="card-text">We connect you with global professionals and industries to diversify your talents, skills...</p>
      </div>
    </div>
    </a>
  </div>
</div>

<style>
 .card-title {
    font-weight:bold;
    color:darkblue;
  }
  .card-number {
    font-weight:bold;
    color:transparent;
  }

  
  .card:hover {
    transform: scale(1.10);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    border-color:darkorange;
  }
  
  .card:hover .card-title, .card:hover {
    color: darkorange;
  }
</style>