<div class="row row-cols-1 row-cols-md-3 g-8">
  <div  class="col">
    <div class="card h-100"  style="border-radius:15px;">
      <img src="/static/Pic4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Industry Services </h5>
        <p class="card-text">Get in touch with us for the latest industrial and technological developments. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 20 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border-radius:15px;">
      <img src="/static/Pic1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Professional Guidance </h5>
        <p class="card-text">At Colltech, we connect you with professionals from various fields to ensure you are properly guided in your career path. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"  style="border-radius:15px;">
      <img src="/static/Pic2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">International Programmes </h5>
        <p class="card-text">We connect you with global professionals and industries to diverse your talents, skills and opportunities. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 15 mins ago</small>
      </div>
    </div>
  </div>
</div>