<footer style="font-family:Arial, sans-serif">
    <ul style="background-color:black" class="nav justify-content-center  pt-4 pb-4">
      <li class="footer-item"><a href="/" class="nav-link px-2 text-white">Back to Homepage</a></li>
      <li class="footer-item"><a href="https://www.fuzu.com/job?page=1&filters[job_id]=502262" target="_blank" class="nav-link px-2 text-white">Partners</a></li>
      <li class="footer-item"><a href="{{url_for('faqs')}}"class="nav-link px-2 text-white">FAQs</a></li>
      <li class="footer-item"><a href="{{url_for('about')}}"class="nav-link px-2 text-white">About Us</a></li>
      <li class="footer-item"><a href="{{url_for('user_feedback')}}"class="nav-link px-2 text-white">Feedback</a></li>
       
       <ul>
      <li class="btn-group me-4" role="group" aria-label="First group">
  <a href="https://www.facebook.com" target="_blank" class="facebook-link"><i class="fab fa-facebook fa-2x fa-beat" style="color:white;font-size:30px;"></i></a>
  </li>
     
      <li class="btn-group me-4" role="group" aria-label="Second group">
  <a href="https://www.linkedin.com/in/collince-odhiambo-503343115" target="_blank" class="linkedin-link"><i class="fa-brands fa-linkedin fa-2x fa-bounce"style="color:white;font-size:30px;" ></i></a>
</li>

  <li class="btn-group" role="group" aria-label="Third group">
    <a href="https://twitter.com/collinceodhix" target="_blank" class="twitter-link"><i class="fa-brands fa-twitter fa-2x fa-beat" style="color:white;font-size:30px;"></i></a>
  </li> 
    </ul> 
    </ul>
    <p style="background:rgba(0,0,255,0.9)" class="pb-4 pt-4 mb-0 text-center text-white">&copy;2023-Colltech Company Limited- All Rights Reserved </p>
  </footer>