<div class="container">
  <footer class="py-3 my-4 ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <img style="border-radius:2000px" src="/static/logo.png" alt="" width="70" height="70">
      <li class="nav-item"><a href="https://colltech-careers.onrender.com//" class="nav-link px-2 text-body-secondary">Back to Homepage</a></li>
      <li class="nav-item"><a href="https://www.fuzu.com/job?page=1&filters[job_id]=502262" target="_blank" class="nav-link px-2 text-body-secondary">Partners</a></li>
      <li class="nav-item"><a href="https://twitter.com/collinceodhix" target="_blank" class="nav-link px-2 text-body-secondary">Twitter</a></li>
      <li class="nav-item"><a href="https://colltech-careers--collincehals.repl.co/faqs"class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="https://colltech-careers--collincehals.repl.co/about/"class="nav-link px-2 text-body-secondary">About Us</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/collince-odhiambo-503343115" target="_blank" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
    </ul>
    <p class="text-bg-warning p-3 text-center text-body-secondary">&copy;2023-Colltech Company Limited- All Rights Reserved </p>
  </footer>
</div>