<footer style="background-color:rgb(0, 0, 60)">
    <ul class="nav justify-content-center border-bottom p-4">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Back to Homepage</a></li>
      <li class="nav-item"><a href="https://www.fuzu.com/job?page=1&filters[job_id]=502262" target="_blank" class="nav-link px-2 text-white">Partners</a></li>
      <li class="nav-item"><a href="https://twitter.com/collinceodhix" target="_blank" class="nav-link px-2 text-white">Twitter</a></li>
      <li class="nav-item"><a href="https://colltech-careers--collincehals.repl.co/faqs"class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="https://colltech-careers--collincehals.repl.co/about/"class="nav-link px-2 text-white">About Us</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/collince-odhiambo-503343115" target="_blank" class="nav-link px-2 text-white ">Linkedin</a></li>
    </ul>
    <p class="p-4 mb-0 text-center text-white">&copy;2023-Colltech Company Limited- All Rights Reserved </p>
  </footer>