<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/COLLTECH.png" style="border-radius:2000px">
    <title>International Programs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
      h1{
        font-weight:normal;
        color: rgb(100,50,20);
        
      }
.numbered {
  white-space: pre-line;
}   
    </style>  
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    {% include 'nav.html' %}
<div class="container" style="background-color:rgb(245,250,255);padding:15px;margin-bottom:10px;margin-top:10px;border-radius:15px;padding-top:8px;">
<div class="container row">
  <div class="col-md-8">
  <h1>International Programmes we Offer:</h1>
  <p class="lead">
  At Colltech Careers, we are dedicated to empowering individuals in their career journeys. Our platform serves as a comprehensive gateway for job seekers to explore a wide range of open positions and take the next step in their professional growth.<br>
    Feel free to explore the list of international programmes we currently engage our clients in:
</p>
  </div>
  <div class="d-none d-md-block col-md-4">
       <img style="border-radius:10%; margin-top:20px;width:300px;height:auto;margin-right:15px" src="/static/intpic.jpg" alt="HTML Dog">
        </div>
</div>
    
<h1>Currently Available Programmes:</h1>
<p class="lead numbered">
1. <b>International Internship Programs:</b> We provide opportunities for job applicants to gain international work experience through internships with companies located in different countries. This can help them develop cross-cultural skills and expand their professional network.

2. <b>Global Talent Recruitment:</b> Connecting employers with talented individuals from around the world who are seeking international job opportunities. Colltech Careers website facilitates the recruitment process by providing a platform for employers to post job openings and for job seekers to submit their applications.

3. <b>Cross-Cultural Training and Workshops:</b> At Colltech Careers, we offer employers and job applicants cross-cultural training and workshops to enhance their understanding of different cultures, work styles, and business practices. This can help both parties effectively navigate and succeed in international work environments.

4. <b>International Job Fairs and Expos:</b>We also organize or promote international job fairs and expos where employers can showcase their organizations and available job opportunities to job seekers from various countries. This facilitates direct interaction and recruitment between employers and job applicants.

5. <b>Study Abroad and Exchange Programs:</b> We also collaborate with educational institutions to promote study abroad and student exchange programs that provide students with the opportunity to gain international experience while pursuing their education. Employers can benefit by engaging with students who have developed a global mindset and cultural understanding.

6. <b> Global Networking Events:</b> Colltech Careers organizes networking events that bring together professionals and job seekers from different countries to foster connections and create international career opportunities. These events include panel discussions, keynote speeches, and networking sessions.

7. <b>International Job Shadowing and Mentoring Programs:</b>  At Colltech we facilitate job shadowing and mentoring programs that allow job applicants to spend time with professionals in their desired industry or country of interest. This provides valuable insights and guidance for career development.

8. <b>Cultural Exchange Programs:</b>  We promote cultural exchange programs where employers and job applicants can participate in short-term assignments or projects in different countries. This enables them to immerse themselves in different cultures, broaden their perspectives, and gain valuable international experience.
</p>
</div>
    {% include 'footer.html' %}
  </body>
</html>