<div class="border-bottom row" style="margin-bottom:12px; padding-bottom:8px">
  <div class="col-9">
          <h4 class="mb-1 mt-2" style="color:rgb(10,80,220); font-style">{{job['title']}}
          </h4>
          <div class="mb-auto mt-auto"><b>Location:</b>{{job['location']}}</div>
          <div class="mb-auto mt-auto"><b>Qualification:</b>{{job['job requirements']}}</div>
  {%if 'Salary' in job %}
          <div class="mb-auto mt-auto"><b>Salary:</b>{{job['Salary']}}</div>
  {% endif %}
  </div>
  <div class="col-3 padding-right:16px">
  <a href="https://colltech-careers--collincehals.repl.co/apply_job" type="button" class="btn btn-outline-primary">Apply</a>
  </div>    
</div>