 <nav class="bg-dark-subtle navbar navbar-expand-lg navbar-dark shadow-sm fixed-top pb-3" aria-label="Fifth navbar example">
   
    <div class="container-fluid">
      
      <img src="/static/logo1.png" alt="" width="40" height="40" style="border-radius:2000px">
      
      <a class="navbar-brand" style="color:rgb(20,20,220)" href="/">Colltech Careers</a>
      <button style="color:rgb(20,20,220)" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:rgb(20,20,220)"class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:rgb(20,20,220)" class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://colltech-careers--collincehals.repl.co/about/"  style="color: rgb(255,255,255)">Who We Are</a>
          </li>
          <li class="nav-item">
            <a style="color:rgb(20,20,220)" class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#"  style="color: rgb(255,255,255)">Job Listings</a>
          </li>
          <li class="nav-item">
            <a style="color:rgb(20,20,220)" class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://colltech-careers--collincehals.repl.co/portfolio"  style="color: rgb(255,255,255)">Portfolio</a>
          </li>
          
          <!--Dropdown starts here--> 
          
          <li class="dropdown">
  <a style="color:rgb(20,20,220)" class="nav-link dropdown-toggle dropdown-toggle link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" role="link" data-bs-toggle="dropdown" aria-expanded="false">Products & Services</a>
      
  <ul class="dropdown-menu bg-body-tertiary">
    <li class="dropdown-item">
      <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">All Products</a>
    </li>
    <li class="dropdown-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Application Status</a></li>
    <li class="dropdown-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Careers at Colltech</a></li>
    <li class="dropdown-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Application Status</a></li>
    <li class="dropdown-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://colltech-careers--collincehals.repl.co/faqs">FAQs</a></li>
  </ul>
</li>
  </ul>

<ul class="navbar-nav me-4 mb-2 mb-lg-0">
  <li class="nav-item">
            <a style="color:rgb(20,20,220)" class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://colltech-careers--collincehals.repl.co/login"  style="color: rgb(255,255,255)">Login</a>
</li>
    
<li class="nav-item">
            <a style="color:rgb(20,20,220)" class="nav-link active link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://colltech-careers--collincehals.repl.co/signup"  style="color: rgb(255,255,255)">Sign Up </a>
</li>
</ul>
        
  <form action ="/" class="d-flex" role="search">
      <input class="form-control me-2 border-primary" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

        
      </div>
    </div>
   
  </nav>

  <div style="height:85px"></div>

<style>
    }
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
  </style>