 <nav class="bg-warning navbar navbar-expand-lg navbar-dark shadow-sm fixed-top" aria-label="Fifth navbar example">
   
    <div class="container-fluid">
      
      <img src="/static/logo1.png" alt="" width="40" height="40" style="border-radius:2000px">
      <a class="navbar-brand" href="https://colltech-careers--collincehals.repl.co">Colltech Careers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://colltech-careers--collincehals.repl.co//">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://colltech-careers--collincehals.repl.co/about/"  style="color: rgb(255,255,255)">Who We Are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  style="color: rgb(255,255,255)">Job Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://colltech-careers--collincehals.repl.co/portfolio"  style="color: rgb(255,255,255)">Portfolio</a>
          </li>
          <li class="dropdown">
  <a class="btn dropdown-toggle dropdown-toggle-split " role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(255,255,255)">Products & Services</a>
  <ul class="dropdown-menu" style="background-color:rgb(240, 192,0)">
    <li><a class="dropdown-item" href="#">All Products</a></li>
    <li><a class="dropdown-item" href="#">Application Status</a></li>
    <li><a class="dropdown-item" href="#">Careers at Colltech</a></li>
    <li><a class="dropdown-item" href="#">Application Status</a></li>
    <li><a class="dropdown-item" href="https://colltech-careers--collincehals.repl.co/faqs">FAQs</a></li>
  </ul>
</li>

  </ul>
</li>
          </li>
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Enter search word" aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
        
      </div>
    </div>
  </nav>
  <div style="height:57px"></div>
