<!-- Fontawesome KIT Link -->
    <script src="https://kit.fontawesome.com/fbd3b48644.js" crossorigin="anonymous"></script>
<!---CSS Styles for navbar here --->
<link rel="stylesheet" type="text/css" href="/static/navbar.css">

<!---Navbar starts here --->
<nav class="bg-dark-subtle navbar navbar-expand-lg navbar-dark shadow-sm fixed-top pt-3 pb-3" aria-label="Fifth navbar example">
   
    <div class="container-fluid">
      
      <img class="me-3" src="/static/COLLTECH.png" alt="" width="45" height="45" style="border-radius:1000px">
      
      <a class="navbar-brand me-3" style="color:rgb(20,20,220)" href="/">Colltech Careers</a>
      <button  style="color:rgb(20,20,220)" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:rgb(20,20,220)"class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house me-1"></i>Home </a>
          </li>
          <li class="nav-item me-2">
            <a style="color:rgb(20,20,220)" class="nav-link" href="/about/">About Us</a>
          </li>
          <li class="nav-item me-2">
            <a style="color:rgb(20,20,220)" class="nav-link" href="/jobs">All Jobs</a>
          </li>
          <li class="nav-item me-2">
            <a style="color:rgb(20,20,220)" class="nav-link" href="/user-dashboard">Application Status</a>
          </li>
          
          <!--Dropdown starts here-->      
<li class="dropdown">
  <a style="color:rgb(20,20,220)" class="nav-link dropdown-toggle-plus" role="link" data-bs-toggle="dropdown" aria-expanded="false">Services & More<span class="plus-sign">+</span></a>
      
  <ul class="dropdown-menu bg-subtle fixed p-2" style="left: 10px;width:200px;height:220px;">
    <li class="dropdown-item"><a class="link" href="/user-login">Candidate Dashboard</a></li>
    <li class="dropdown-item"><a class="link" href="/employer-login">Employer Dashboard</a></li>
    <li class="dropdown-item"><a class="link" href="/user-login">Application Status</a></li>
    <li class="dropdown-item">
      <a class="link" href="/resume-builder">Resume Builder</a>
    </li>
    <li class="dropdown-item"><a class="link" href="/faqs">FAQs</a></li>
    <li class="dropdown-item"><a class="link" href="/all-feedbacks">Admin</a> </li>
    
  </ul>
</li>
  <li class="nav-item me-2">
    <a style="color:rgb(20,20,220)" class="nav-link" href="/contact">Contact Us</a>
  </li>
  
{% if 'username' in session or 'company_name' in session %}
  
      {% if 'username' in session %}
      <li class="me-2">
      <a type="button" class="btn btn-warning active" href="/user-dashboard">
            <i class="fa-solid fa-user me-2"></i>{{ session['username'] }}</a>
        </li>
      
      {% elif 'company_name' in session %}
        <li class="me-2">
        <a type="button" class="btn btn-warning active" href="/employer-dashboard">
            <i class="fa-solid fa-user me-2"></i>{{ session['company_name'] }}</a>
      {% endif %}
        </li>
  
    {% if 'username' in session %}
        <li class="me">
            <a href="/user-logout" type="button" class="btn btn-primary active">Logout</a>
        </li>
    {% elif 'company_name' in session %}
        <li class="me">
            <a href="/employer-logout" type="button" class="btn btn-primary active">Logout</a>
        </li>
    {% endif %}
{% else %}
    <li class="me-2">
    <a type="button" class="btn btn-primary active" href="/merged-login">
        <i class="fa-solid fa-user me-1"></i>Login/Register
    </a>
</li>
{% endif %}

 
  <li  class="dropdown me-4">
   <a style="color:rgb(20,20,220)" class="nav-link dropdown-toggle-plus" role="link" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search fa-lg"></i></a>
<ul class="dropdown-menu" style="top:40px; right: 1px;width:250px; height:auto;background-color:#A9A9A9">
<li class="dropdown-items ">
<form action="/#" class="d-flex" style="padding-left:10px; padding-right:10px;" role="search">
  <div class="input-group">
    <input class="form-control me-1" name="query" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-sm" type="submit">
      <i class="fas fa-search" style="color: white;"></i>
    </button>
  </div>
</form>
</li>
</ul>
</li> 

<li>
<a class="btn btn-primary active" style="color:white;padding-left:20px;padding-right:20px" href="/post-job">Post Job</a>
</li>  
</ul>
  </div>
   </div>
    </nav>
      <div style="height:90px"></div> 