<!DOCTYPE html>
<html>
<head>
    <title>Image Slideshow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}">
</head>
<body>
    <div class="slideshow">
        <div class="slide">
            <div class="slide-image">
                <img src="{{ url_for('static', filename='images/Banner.jpg') }}">
            </div>
        </div>

        <div class="slide">
            <div class="slide-image">
                <img src="{{ url_for('static', filename='images/Banner2.jpg') }}">
            </div>
        </div>

        <div class="slide">
            <div class="slide-image">
                <img src="{{ url_for('static', filename='images/Banner3.jpg') }}">
            </div>
        </div>
    </div>
</body>
</html>
