<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/static/Resumepic.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 style="color:darkblue;">Resume Builder </h5>
        <p style="color:darkblue;"><em>Get in touch with us to Revamp your CV to professional standards. </em></p>
        <a class="btn btn-tertiary" style="" href="/resume-builder" type="button">Read More...</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="/static/intpic.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 style="color:darkblue;">International Relations </h5>
        <p ><em>We collaborate with professionals globally to give our clients the best internatioal opportunities. </em></p>
        <a class="btn btn-tertiary" style="" href="/int_programs" type="button">Read More...</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="/static/Pic5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 style="color:white;">Professional Services</h5>
        <p style="color:white;"><em>At Colltech, we connect you with professionals from various fields to ensure that you are properly guided in your career path.</em></p>
        <a class="btn btn-tertiary" style="color:white;" href="/prof_guidance" type="button">Read More...</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="/static/Pic4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:darkblue;">Industry Services</h5>
        <p style="color:darkblue;"><em>Get in touch with us for the latest news on industrial and technological developments and trends </em></p>
        <a class="btn btn-tertiary" " href="/industry_services" type="button">Read More...</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

